table {
  /* border-collapse: collapse;
   width: 100%;*/
  /* transform: translate(-50%, -50%);*/

   border-collapse: collapse;
   width: 90%;
   height: 200px;
   border: 1px solid #bdc3c7;
   box-shadow: 2px 2px 12px rgba(186, 28, 28, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
 }
 th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid DarkSlateGray;
}

th {
  background-color: #f2f2f2;
}
#header {
  background-color: #16a085;
  color: #fff;
}
tr:hover {
  background-color: #f5f5f5;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  table {
      width: 90%;
  }
}
tr:nth-child(odd){

	background-color: lightblue;

}

tr:nth-child(odd):hover{

	background-color: dodgerblue;

	color: white;

	transform: scale(1.05);

	transition: transform 300ms ease-in;

}

tr:nth-child(even){

	background-color: #ededed;

}

tr:nth-child(even):hover{

	background-color: lightgray;

	transform: scale(1.05);

	transition: transform 300ms ease-in;
}*/
.btn-primary {
  background-color: blue;
  color: white;
}

.btn-success {
  background-color: green;
  color: white;
}
.ngx-pagination{
  text-align: center;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}